<html>
        <head>
            <title>Edit List</title>
          <!--Import Google Icon Font-->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <!--Import materialize.css-->
          <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"  media="screen,projection"/>
          
          <!--Let browser know website is optimized for mobile-->
          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
          <!--Character encoding-->
          <meta charset="utf-8"/>
          
        </head>
        <body id="authbody">
            <nav class="white">
              <div class="nav-wrapper">
                <a href="#" class="brand-logo center black-text">Shopping List app</a>
                <ul id="nav-mobile" class="left hide-on-med-and-down">
                    <li><a href="/dashboard" class=" black-text">Home</a></li>
                    <li><a href="/index" class=" black-text">Log out</a></li>
                </ul>
              </div>
            </nav>
            <div class="valign-wrapper" style="width:100%;height:80%;">
                    <div class="valign" style="width:100%;">
                        <div class="container">
                           <div class="row">
                              <div class="col s12">
                                 <div class="card">
                                    <div class="card-content">
                                        <ul class="colllection with-header">
                                            <li class="collection-header"><h3>Here are the items in your list, add or remove some..</h3></li>
                                            <li class="collection-item">Meat -400</li>
                                            <li class="collection-item">Sugar -500</li>
                                            <li class="collection-item">Milk - 400</li>
                                        </ul>
                                    </div>
                                    <div class="card-action center">
                                        <input type="submit" class="btn" value="Add new Item">
                                        <input type="submit" class="btn" value="Delete Item">
                                    </div>
                                 </div>
                                </div>
                           </div>
                        </div>
                    </div>
            </div>
            
        </body>
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/mainjs.js') }}"></script>
    </html>